<f:be.container>
	<div class="typo3-login">
		<div class="typo3-login-container">
			<div class="typo3-login-wrap">
				<div class="panel panel-lg panel-login">
					<div class="panel-body">
						<form method="post">
							<f:render section="Content" />
							<div class="form-group" id="t3-login-submit-section">
								<button class="btn btn-block btn-login t3js-login-submit" id="t3-login-submit" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> {f:translate(key: 'login.process')}" autocomplete="off">
									<f:translate key="LLL:EXT:authenticator/Resources/Private/Language/locallang.xlf:login.submit" />
								</button>
							</div>
						</form>
					</div>
					<div class="panel-footer">
						<div class="login-copyright-wrap">
							<a href="#loginCopyright" class="typo3-login-copyright-link collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="loginCopyright">
								<span><f:translate key="login.copyrightLink" /></span>
								<img src="{images.typo3}" alt="{f:translate(key: 'login.typo3Logo')}" width="70" height="20" />
							</a>
							<div id="loginCopyright" class="collapse">
								<div class="typo3-login-copyright-text">
									<p>
										<f:format.raw>{copyright}</f:format.raw>
									</p>
									<ul class="list-unstyled">
										<li><a href="http://typo3.org" target="_blank" class="t3-login-link-typo3"><i class="fa fa-external-link"></i> TYPO3.org</a></li>
										<li><a href="http://typo3.org/donate/" target="_blank" class="t3-login-link-donate"><i class="fa fa-external-link"></i> <f:translate key="login.donate" /></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:be.container>