<f:layout name="Default"/>

<f:section name="Content">
	<h1><f:translate key="login.title" extensionName="authenticator"/></h1>
	<p><f:translate key="login.text" extensionName="authenticator"/></p>
	<div class="form-group t3js-login-password-section" id="t3-login-password-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password" id="t3-onetimesecret" name="oneTimeSecret" value="{token}" placeholder="Token" class="form-control input-login t3js-clearable t3js-login-password-field" required="required" data-rsa-encryption="t3-field-userident" autofocus/>
			</div>
		</div>
	</div>
</f:section>
