<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex, nofollow" />

		<title><f:translate key="LLL:EXT:authenticator/Resources/Private/Language/locallang.xlf:login.title" /></title>

		<link rel="stylesheet" href="sysext/t3skin/stylesheets/standalone/errorpage-message.css" />
	</head>

	<body class="t3-message-page t3-errorpage-message">

		<div class="t3-message-page-container">
			<div class="t3-message-page-logo">
				<img src="sysext/t3skin/images/login/typo3logo-white-greyback.gif" alt="TYPO3 logo" />
			</div>
			<div class="shadow-box-top-428"></div>
			<div class="t3-message-page-message typo3-message message-error">
				<h1><f:translate key="LLL:EXT:authenticator/Resources/Private/Language/locallang.xlf:login.title" /></h1>
				<p>
					<f:translate key="LLL:EXT:authenticator/Resources/Private/Language/locallang.xlf:login.text" />
				</p>
				<form><input type="text" name="oneTimeSecret"><input type="submit"></form>
			</div>
		</div>

	</body>
</html>
